*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFFC;
    line-height: 1.5;
    font-size: 14px;
}

/* .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Header */
.logo h1 {
  font-size: 1.2rem;
  color: black;
}
.navbar {
  border: 2px solid black;
  border-radius: 100px;
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 252, 0.95);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar.sticky {
  margin-top: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #666;
  text-decoration: underline;
}
button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

header .container{
  margin-top: 9rem;
}

.header-content{
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  padding: 0 1rem;
}
.heading-top{
  border: 2px solid black;
  border-radius: 100px;
  padding: 0rem 1rem;
  width: fit-content;
  margin: auto;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 2rem;
}
.heading-top i{
  margin-right: 0.1rem;
  color: black;
}
.heading-main{
  font-size: 2rem;
  line-height: 1.2;
}
.sub-heading{
  width: 90%;
  margin: auto;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.cta{
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}
.cta-inverse{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.header-image{
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
}
.header-image img{
  width: 100%;
}
section{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

/* Key Values Section */
.heading{
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.key-values-container{
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.key-values-image{
  width: 80%;
  height: auto;
  border: 2px solid #FFFFFC;
  border-radius: 10px;
  margin: auto;
}
.divider{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
}
.info-1, .info-2, .info-3{
  width: 100%;
  border-radius: 10px;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.info-1 h4, .info-2 h4, .info-3 h4{
  font-size: 1.2rem;
}
.info-1 p, .info-2 p, .info-3 p{
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.info-1{
  border: 2px solid #BDB2FF;
  background-color: #BDB2FF;
}
.info-2{
  border: 2px solid #FDFFB6;
  background-color: #FDFFB6;
}
.info-3{
  border: 2px solid #CAFFBF;
  background-color: #CAFFBF;
}

/* Features Section */
.features-list{
  padding: 2rem 1rem;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.feature-item{
   border: 2px solid black;
   border-radius: 10px;
   padding: 1rem;
   text-align: justify;
}
.feature-item h4 i {
   border-radius: 50%;
   padding: 0.8rem;
   font-size: 1.5rem;
   color: black;
   margin-right: 0.5rem;
}
.feature-item h4 i.fa-calculator{
  background-color: #FFADAD;
}

.feature-item h4 i.fa-chart-bar{
  background-color: #FFD6A5;
}

.feature-item h4 i.fa-users{
  background-color: #CAFFBF;
}

.feature-item h4 i.fa-bell{
  background-color: #9BF6FF;
}

.feature-item h4 i.fa-dollar-sign{
  background-color: #A0C4FF;
}

.feature-item h4 i.fa-handshake{
  background-color: #FFC6FF;
}

.feature-item h4{
  font-size: 1.1rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.feature-item p{
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* How It Works Section */
.how-it-works-container{
  border: 2px solid #FFADAD;
  border-radius: 10px;
  background-color: #FFADAD;
  padding: 1rem;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.how-it-works-steps{
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem;
}
.how-it-works-steps h4{
  font-size: 1.2rem;
}
.how-it-works-steps p{
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* Testimonial Section */
.testimonial-img{
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.testimonial-img img{
  width: 100%;
  border-radius: 10px;
}
.testimonials-container{
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.testimonial-item{
  border: 2px solid #FFD6A5;
  border-radius: 10px;
  padding: 1rem;
  background-color: #FFD6A5;
}
.testimonial-item h4{
  font-size: 1rem;
  margin-top: 0.8rem;
}
.testimonial-item p{
  font-size: 0.9rem;
  margin-top: 0.5rem;
}


/* Pricing Section */
.pricing-container{
  border: 2px solid #BDB2FF;
  background-color: #BDB2FF;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}
.pricing-item-free, .pricing-item-pro, .pricing-item-business{
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
}
.pricing-item-free h4, .pricing-item-pro h4, .pricing-item-business h4{
  font-size: 1.3rem;
}
.pricing-item-free ul, .pricing-item-pro ul, .pricing-item-business ul{
  margin-top: 1rem;
  text-align: left;
}
.pricing-item-free ul li, .pricing-item-pro ul li, .pricing-item-business ul li{
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.pricing-item-free button, .pricing-item-pro button, .pricing-item-business button{
  margin-top: 1rem;
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pricing-item-free button{
  margin-top: 1rem;

}

.pricing-item-pro button{
  background-color: transparent;
  color: black;
  border: 2px solid black;
  margin-top: 1rem;

}
/* Contact Section */
.contact-container{
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.contact-form{
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form label{
  font-size: 0.9rem;
  text-align: left;
}
.contact-form input, .contact-form textarea{
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
}
.contact-form button{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  width: 80%;
  margin: auto;
}

.contact-image {
  width: 100%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1.5rem;
}
.contact-image img {
  width: 100%;
  border-radius: 10px;
}

/* Footer */
footer{
  border-top: 2px solid black;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
.footer-container{
  max-width: 95%;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.footer-info h4{
  font-size: 1.2rem;
}
.footer-info p{
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.footer-links,.footer-company,.footer-contact{
  width: 100%;
}
.footer-links h4, .footer-company h4, .footer-contact h4{
  font-size: 1rem;
}
.footer-links ul, .footer-company ul, .footer-contact ul{
  list-style: none;
  margin-top: 1rem;
}

.footer-links ul li, .footer-company ul li, .footer-contact ul li{
  margin-top: 0.5rem;
}
.footer-links ul li a{
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #666;
  text-decoration: underline;
}
.footer-bottom{
  border-top: 2px solid black;
  margin-top: 1rem;
  padding-top: 1rem;
}
.footer-bottom p{
  font-size: 0.9rem;
}


